<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/write-blog.css">
    <script src="https://cdn.tiny.cloud/1/<%= tinyAPI %>/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
      tinymce.init({
        selector: '#textbox',
        skin: "oxide-dark",
        content_css: "dark",
        height: 500
      });
    </script>

</head>

<body>
    <%- include('../includes/header.ejs') %>
    
    <main>
        <div class='input-area'>

            <div class="page-info">
                <h1>Write a blog post below!</h1>
            </div>

            <div class="form-control">
                <label for="blog-title">Title:</label>
                <input type="text" name="title" id="blog-title">
            </div>

            <form method="POST" action="/admin/post-blog">
              <textarea id="textbox" name="blogContent">Start your blog here, Thai Le :)</textarea>
    
              <button class="blog-submit" type="submit">Submit</button>
            </form>
        </div>
    </main>


</body>