<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://cdn.tiny.cloud/1/<%= tinyAPI %>/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script>
      tinymce.init({
        selector: '#textarea'
      });
    </script>

</head>

<body>
    <%- include('../includes/header.ejs') %>
    <h1>
        This is the admin page!
    </h1>
    <h1>TinyMCE Quick Start Guide</h1>

    <div>
        <form method="POST" action="/admin/post-blog">
          <textarea id="textarea" name="blogContent">Start your blog here, Thai Le :)</textarea>

          <button class="blog-submit" type="submit">Submit</button>
        </form>
    </div>

</body>