<!-- <hr> -->
<header>

    <div class='image-area'>
        <div class='image-box'>
            <img src="/imgs/london_color_bg.jpeg" alt="">
        </div>

        <div class='name-box'>
            <h1>Thai V. Le</h1>
            <p class='name-descp'>An Activist and Academic for Social Equity</p>
        </div>
    </div>

    <nav class='nav-links'>
            <div><a class='nav-link' href="/">Home</a></div>
            <div><a class='nav-link' href="/research"><div class='wrap-around'>Research & Presentations</div></a></div>
            <div><a class='nav-link' href="/thoughts"><div class='wrap-around'>Thoughts & Musings</div></a></div>
            <div><a class='nav-link' href="/contact">Contact</a></div>
    </nav>
    
</header>

<!-- <div class='name-area'>
    <div class='name-box'>
        <h1>Thai V. Le</h1>
        <p>An Activist and Academic for Social Equity</p>
    </div>
</div> -->



