<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include('./includes/header.ejs') %>

    <div class='contact-area'>
        <div class='text-area'>
            <p>To contact me, please email me at thaivle@usc.edu or fill the form below</p>
        </div>
    </div>
</body>