<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include('./includes/header.ejs') %>

    <main class='contact-area'>

        <div class='text-area'>
            <p>To contact me, please email me at <a class='nav-link' href="mailto:thaivle@usc.edu">thaivle@usc.edu</a> or fill the form below</p>
        </div>

        <form action="/contact" method="POST" class='form-area'>
            <div class='form-control'>
                <label for="subject">Subject:</label>
                <input type="text" name="subject" id="subject">
            </div>
            <div class='form-control'>
                <label for="contactName">From:</label>
                <input type="text" name="contactName" id="contactName">
            </div>
            <div class='form-control'>
                <label for="contactEmail">Contact Email:</label>
                <input type="text" name="contactEmail" id="contactEmail">
            </div>
            <div class='form-control'>
                <label for="message">Message:</label>
                <textarea name="message" id="message" rows="15"></textarea>
            </div>

            <button class="btn" type="submit">Submit</button>
        </form>

    </main>

</body>