<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/thoughts.css">
</head>

<body>
    <%- include('./includes/header.ejs') %>

    <div class="blog-gallery">

        <div class="img-container">
            <img src="/imgs/zhao-jun-Qnv0T821UGQ-unsplash.jpg" alt="">
            <p>Test Text</p>
        </div>
        <div class="img-container">
            <img src="/imgs/zhao-jun-Qnv0T821UGQ-unsplash.jpg" alt="">
            <p>Test Text</p>
        </div>
        <div class="img-container">
            <img src="/imgs/zhao-jun-Qnv0T821UGQ-unsplash.jpg" alt="">
            <p>Test Text</p>
        </div>
        <div class="img-container">
            <img src="/imgs/zhao-jun-Qnv0T821UGQ-unsplash.jpg" alt="">
            <p>Test Text</p>
        </div>
    
    </div>

</body>