input {
  padding: .3rem;
}

.login-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
    display: block;
  }
  
.input-box {
    margin: 1rem;
  }
  
  .input-box label,
  .input-box input,
  .input-box textarea {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
  }
  
  .input-box input,
  .input-box textarea {
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 2px;
  }

  .btn {
    margin: 0 1rem;
  }
  
  /* .input-box input:focus,
  .input-box textarea:focus {
    outline-color: #00695c;
  } */
  