.blog-gallery{
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 2rem;
}

.img-container{
    /* height: 400px;
    width: 400px; */
    position: relative;
    min-height: 400px;
    overflow: hidden;
}

.img-container p{
    z-index: 100;
    position: absolute;
    color: rgb(22, 66, 99);
    font-size: 24px;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-container img{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.img-container img:hover{
    transform: scale(1.2);
}

.modal{
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .75s ease-out;
    z-index: 100;
}

.modal.open{
    opacity: 1;
    pointer-events: all;
}

.modal-text-area{
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 50px;
    transform: scale(0.5);
    transition: all 0.25s ease-out;
    max-height: 80%;
    overflow-y: auto;
}


.modal-text-area.open{
    transform: scale(1);
}

.blog-actions{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    text-align: center;
}

.blog-actions button,
.blog-actions a{
    margin: 0 0.25rem;
}

.btn{
    display: inline-block;
    padding: 0.25rem 1rem;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

.add-new{
    margin-bottom: 15px;
    text-align: center;
}
