*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input{
  display: block;
  width: 30%;
  margin-bottom: 0.25rem;
  font: inherit;
}

.form-control input{
  border: 1px solid #a1a1a1;
  font: inherit;
  border-radius: 2px;
  padding: 5px;
}

.page-info{
    width: 100%;
    text-align: left;
    margin: 20px 0px;
}

.input-area{
    width: 90%;
    margin: auto;
}

.blog-submit{
    width: 125px;
    margin: 15px 0px;
    background-color: rgb(27, 42, 54);
    color: rgb(211, 213, 217);
    font-size: 18px;
    float: right;
}